{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <main>
            <h2 class="visuallyhidden">Articles</h2>
            <a href="/newpost">Click Here To Make New Post</a>
            {% for blog in blogs %}
                <article class='blog'>
                        <header>
                            <h3 class='blog-subject'>{{blog.subject}}</h3>
                            <time datetime="2016-05-12T08:00">May 12</time>
                        </header>

                        <img src="/img/chasing-the-snow.jpg" alt="A dogsled team in Alaska">

                        <pre class='blog-body'>{{blog.content}}</pre>

                        <a class="read-more" href="#">Read more</a>
                </article>
            {% endfor %}
        </main>

        <aside>
            <img src="/img/profilepic.jpg" alt="My profile picture">
            <div class="sidebar-text">
                <h2>About Me</h2>
                <p>Paul is a technologist and futurist</p>
                <section>
                    <h3 class="visuallyhidden">Social Links</h3>
                    <a class="social-link" href="https://twitter.com/udacity">
                        <img src="/img/social-twitter.png" alt="Twitter">
                    </a>
                    <a class="social-link" href="https://www.instagram.com/udacity/">
                        <img src="/img/social-instagram.png" alt="Instagram">
                    </a>
                    <a class="social-link" href="https://plus.google.com/+Udacity">
                        <img src="/img/social-google.png" alt="Google Plus">
                    </a>
                </section>
            </div>
        </aside>
    </div>

    <footer>
        Made with &hearts; by Paul Foley
    </footer>
{% endblock %}
