Logs_Analysis/newsdata.sql
Logs_Analysis/ubuntu-xenial-16.04-cloudimg-console.log
Favorite_Movies/__pycache__/
Bookmark_Server/__pycache__/
Forum/.vagrant
Catalog/.vagrant
API_Server/.vagrant
Logs_Analysis/.vagrant
Restaurant/.vagrant/
Blog/blog.pyc
ASCII/ascii.pyc
