Logs_Analysis/newsdata.sql
Logs_Analysis/ubuntu-xenial-16.04-cloudimg-console.log
Favorite_Movies/__pycache__/
Bookmark_Server/__pycache__/
Employees/__pycache__/
Links/__pycache__/
Employees/employees.db
Forum/.vagrant/
Catalog/.vagrant/
API_Server/.vagrant/
Logs_Analysis/.vagrant/
Restaurant/.vagrant/
Tournament/.vagrant/
Bug_Management/.vagrant/
Blog/blog.pyc
ASCII/ascii.pyc
Fizz_Buzz/fizz_buzz.pyc
Forum/forumdb.pyc
