{% extends 'base.html' %}

{% block content %}
<h2>User Signup</h2>
<form method="post">
	<table>
		<tr>
			<td class='lable'>Username</td>
			<td>
				<input type="text" name="username" value="{{username}}">
			</td>
			<td class="error">
				{{error_username}}
			</td> 
		</tr>

		<tr>
			<td class="label">Password</td>
			<td>
				<input type="password" name="password" value="">
			</td>
			<td class="error">
				{{error_password}}
			</td>
		</tr>

		<tr>
			<td class="label">Verify Password</div>
			<td>
				<input type="password" name="password_verify" value="">
			</td>
			<td class="error">
				{{error_password_verify}}
			</td>
		</tr>

		<tr>
			<td class="label">Email</td>
			<td>
				<input type="email" name="email" value="{{email}}">
			</td>
			<td class="error">
				{{error_email}}
			</td>
		</tr>
	</table>
	<input type='submit'>
</form>
{% endblock %}